body {
	font-family: roboto;
	width: 80%;
	margin: 0 auto;
	background-color: #dcdcdc;


}

header {
	background: #e45dec;
}4
main {
	background: #c4e8dd;
}

footer {
	background: yellow;
}

.rotate {
	transform: rotate(90deg);
}

body {
  background-image: linear-gradient(red, yellow, green);
  color: white;
}

.flexbox{
	display: flex;
}

.divv {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

#myDiv {
    -webkit-transform: rotateX(150deg); /* Safari */
    transform: rotateX(150deg); /* Standard syntax */
}